Repository dbeaver/dbeaver, pull requests merged in 2020-08, with the labels that each got.

#9417 Oracle: Use URL template for custom connections
  plugins/org.jkiss.dbeaver.ext.oracle.ui/src/org/jkiss/dbeaver/ext/oracle/ui/views/OracleConnectionPage.java
  plugins/org.jkiss.dbeaver.ext.oracle/src/org/jkiss/dbeaver/ext/oracle/OracleDataSourceProvider.java
  plugins/org.jkiss.dbeaver.model/src/org/jkiss/dbeaver/model/impl/jdbc/JDBCURL.java
Labels: enhancement, x:oracle

#8916 Default to using MySQL's longer connection timeout var
  plugins/org.jkiss.dbeaver.ext.mysql/src/org/jkiss/dbeaver/ext/mysql/MySQLDataSourceProvider.java
Labels: enhancement, x:mysql

#9621 Fix Athena plugin to script view definitions
  plugins/org.jkiss.dbeaver.ext.athena/src/org/jkiss/dbeaver/ext/athena/model/AthenaMetaModel.java
Labels: bug
