Repository dbeaver/dbeaver, pull requests merged in 2021-02, with the labels that each got.

#11176 Copy SQL as Source Code: Delphi - StringList option
  plugins/org.jkiss.dbeaver.ui.editors.sql/plugin.xml
  plugins/org.jkiss.dbeaver.ui.editors.sql/src/org/jkiss/dbeaver/ui/editors/sql/convert/impl/DelphiSQLConverter.java
Labels: enhancement, xf:sql

#11101 feat: add gcloud PostgreSQL driver
  plugins/org.jkiss.dbeaver.ext.postgresql.ui/src/org/jkiss/dbeaver/ext/postgresql/PostgreMessages.java
  plugins/org.jkiss.dbeaver.ext.postgresql.ui/src/org/jkiss/dbeaver/ext/postgresql/PostgresResources.properties
  plugins/org.jkiss.dbeaver.ext.postgresql.ui/src/org/jkiss/dbeaver/ext/postgresql/ui/PostgreConnectionPage.java
  plugins/org.jkiss.dbeaver.ext.postgresql/OSGI-INF/l10n/bundle.properties
  plugins/org.jkiss.dbeaver.ext.postgresql/icons/google_cloud_sql_icon.png
  plugins/org.jkiss.dbeaver.ext.postgresql/icons/google_cloud_sql_icon@2x.png
  plugins/org.jkiss.dbeaver.ext.postgresql/icons/google_cloud_sql_icon_big.png
  plugins/org.jkiss.dbeaver.ext.postgresql/icons/google_cloud_sql_icon_big@2x.png
  plugins/org.jkiss.dbeaver.ext.postgresql/icons/google_cloud_sql_logo.png
  plugins/org.jkiss.dbeaver.ext.postgresql/plugin.xml
  plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/model/impls/PostgreServerGCloud.java
  plugins/org.jkiss.dbeaver.ext.postgresql/src/org/jkiss/dbeaver/ext/postgresql/model/impls/PostgreServerType.java
Labels: feature request, x:postgresql

#11204 #11202 Fix refresh of grants
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/ExasolDataSource.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolBaseObjectGrant.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolConnectionGrant.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolGrantee.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolRole.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolRoleGrant.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolSystemGrant.java
  plugins/org.jkiss.dbeaver.ext.exasol/src/org/jkiss/dbeaver/ext/exasol/model/security/ExasolUser.java
Labels: enhancement, x:exasol
